* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #202223;
}

.quiz-container {
    height: 100vh;
    background-image: url('../imagens/cont-poluicao.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.quiz-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.site-name {
    font-size: 20px;
    color: white;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none; 
}

.quiz-content {
    text-align: center;
    color: white;
    
}

.quiz-title {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.play-button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.play-button:hover {
    background-color: #333;
}

.navigation-arrows {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.arrow {
    font-size: 50px;
    color: white;
    text-decoration: none; 
}

.arrow:hover {
    color: #B2FF59;
}
