* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #202223;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
}

.container-quiz {
    width: 100%;
    max-width: 700px;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.cabecalho-quiz {
    display: flex;
    justify-content: flex-end;
}

.botao-fechar {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}

.conteudo-quiz {
    text-align: center;
    margin-bottom: 20px;
}

#titulo-pergunta {
    font-size: 24px;
    margin-bottom: 20px;
}

#lista-respostas {
    list-style: none;
    padding: 0;
}

.resposta {
    background-color: #20303C;
    color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.resposta:hover {
    background-color: #202223;
}

.resposta.selecionada {
    background-color: #1ABC9C;
}

.container-progresso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.barra-progresso {
    width: 75%;
    height: 10px;
    background-color: #7F8C8D;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.progresso {
    height: 100%;
    background-color: #1ABC9C;
}

.botao-proximo {
    background-color: #1ABC9C;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-proximo:hover {
    background-color: #16A085;
}
