* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #202223;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-container {
    width: 100%;
    max-width: 700px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.result-content h2 {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
}

.result-content p {
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.retry-button, .retry-again-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px; 
    transition: background-color 0.3s, box-shadow 0.3s;
}

.retry-button {
    background-color: #202223;
}

.retry-button:hover {
    background-color: #16A085;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.retry-again-button {
    background-color: #202223; 
}

.retry-again-button:hover {
    background-color: #2980B9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
