* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: #202223;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-resultado {
    width: 100%;
    max-width: 700px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    position: relative;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
}

.botao-fechar {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.conteudo-resultado h2 {
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
}

.conteudo-resultado p {
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
}

.container-botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botao-repetir, .botao-repetir-novamente {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.botao-repetir {
    background-color: #202223;
}

.botao-repetir:hover {
    background-color: #16A085;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.botao-repetir-novamente {
    background-color: #1ABC9C;
}

.botao-repetir-novamente:hover {
    background-color: #16A085;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
