* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #001100;
}

.login-message {
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(255, 69, 0, 0.8); /* Fundo semi-transparente */
  color: white;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
  animation: fadeIn 1.5s ease-out;
  display: block;
}

.login-message.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.quiz-container {
  height: 100vh;
  background-image: url("../imagens/cont-eco.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quiz-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.site-name {
  font-size: 20px;
  color: white;
  font-family: "Titillium Web", sans-serif;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

.quiz-content {
  text-align: center;
  color: white;
}

.quiz-title {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.play-button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.play-button:hover {
  background-color: #333;
}

.navigation-arrows {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.arrow {
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.arrow:hover {
  color: #b2ff59;
}
