body {
  font-family: Arial, sans-serif;
  background-color: #1b3b24;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #ffffff;
}

.quiz {
  width: 100%;
  max-width: 700px;
  background-color: #142710;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  position: relative;
}

.cabecalho {
  display: flex;
  justify-content: flex-end;
}

.botao-fechar {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}

.pergunta {
  text-align: center;
  margin-bottom: 20px;
}

#titulo-pergunta {
  font-size: 18px;
  margin-bottom: 20px;
}

#lista-respostas {
  list-style: none;
  padding: 0;
}

.resposta {
  background-color: #1a472a;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.resposta:hover {
  background-color: #155923;
}

/* Adicionando o estilo para a opção selecionada */
.resposta.selecionada {
  background-color: #1abc9c;
  border: 2px solid #0b3d0d;
}

.barra-progresso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.barra {
  width: 75%;
  height: 10px;
  background-color: #0b3d0d;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.progresso {
  height: 100%;
  background-color: #1abc9c;
  width: 20%;
}

.botao-proximo {
  background-color: #1abc9c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.botao-proximo:hover {
  background-color: #16a085;
}

/* Resposta correta (verde) */
.resposta.correta {
  background-color: #2ecc71;
  border: 2px solid #27ae60;
}

/* Resposta errada (vermelho) */
.resposta.errada {
  background-color: #e74c3c;
  border: 2px solid #c0392b;
}
