@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #121816;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #121816;
}
.main-container h1 {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    color: #121816;
    font-weight: bold;
  }
header {
  height: 50vh; 
  background-image: url("../imagens/poluicao3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

header.transparente {
  background-color: transparent;
}

header .logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 120px;
  height: auto; 
}

header .title {
  font-size: 3em;
  text-align: center;
}

header .close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none; 
}

header .close-button:hover,
header .close-button:focus {
  color: #cccccc;
}

.container {
  background-color: #5A7079;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  margin: 20px auto;
}

section {
  margin-bottom: 20px;
}

.content h2,
.quiz-section h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.content p {
  line-height: 1.6;
  color: #ffffff;
  font-size: 16px;
}

.info-box {
  background-color: #121816;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.info-box p {
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
  color: #00796b;
}

.info-box a {
  display: inline-block;
  font-size: 14px;
  color: #00796b;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #20454A;
  border-radius: 5px;
  border: 2px solid #00796b;
  transition: background-color 0.3s ease;
}

.info-box a:hover {
  text-decoration: none;
  background-color: #e0f7fa;
}

.middle-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.text {
  flex: 2;
}

.quiz-section {
  text-align: center;
  background-color: #5A7079;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.quiz-section p {
  font-size: 18px;
  color: #e0f7fa;
}

.play-button {
  background-color: #20454A;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.play-button:hover {
  background-color: #004d40;
}
