body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001100;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    text-align: center;
    position: relative;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    margin-top: 0;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-sizing: border-box;
}

.option img {
    width: 100%;
    height: auto; 
    border-radius: 0; 
}

.option p {
    margin-top: 10px;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: inherit;
}
