body {
  background-color: #554526;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #554526;
}

header {
  height: 50vh;
  background-image: url("../imagens/reino.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

header .logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 120px;
  height: auto;
}

header .title {
  font-size: 3em;
  text-align: center;
}

header .arrows-container {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 10px; 
}

header .arrow {
  font-size: 50px;
  color: white;
  text-decoration: none;
}

header .arrow:hover {
  color: #B2FF59;
}

header .close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

header .close-button:hover,
header .close-button:focus {
  color: #cccccc;
}

.container {
  background-color: #A07E4E;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  margin: 20px auto;
}

.section {
  margin-bottom: 10px;
}

.section .image {
  width: 80%; 
  max-width: 600px; 
  height: auto;
  display: block;
  margin: 10px auto; 
}

.section h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.section p {
  line-height: 1.6;
  color: #ffffff;
  font-size: 16px;
}

.image {
  width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
}

.action-button {
  background-color: #8c7c69;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.quiz-section {
  text-align: center;
  background-color: #A07E4E;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.quiz-section h2 {
  font-size: 24px;
  color: #ffffff;
}

.quiz-section p {
  font-size: 18px;
  color: #e0f7fa;
}

.play-button {
  background-color: #554526;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.play-button:hover {
  background-color: #004d40;
}
