@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #554526;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #121816;
}

header {
  height: 50vh;
  background-image: url("../imagens/reino.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

header .logo {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 120px;
  height: auto;
}

header .title {
  font-size: 3em;
  text-align: center;
}

header .navegacao {
  display: flex;
  justify-content: space-between;
  width: 100px;
  position: absolute;
  bottom: 50px;
}

header .seta {
  font-size: 50px;
  color: white;
  text-decoration: none;
}

header .seta:hover {
  color: #b2ff59;
}

header .fechar {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

header .fechar:hover,
header .fechar:focus {
  color: #cccccc;
}

.container {
  background-color: #554526;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  margin: 20px auto;
}

.secao {
  margin-bottom: 20px;
  
}
.texto-completo {
  font-size: 1.2em; 
  line-height: 1.6; 
  margin: 0; 
  padding: 0; 
}

.texto-completo br {
  content: "\00a0"; 
}

.texto-completo br + br {
  content: "\00a0"; 
  display: block;
  margin: 10px 0; 
}

.secao .imagem {
  width: 80%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 10px auto;
}

.secao h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 10px;
}

.secao p {
  line-height: 1.6;
  color: #ffffff;
  font-size: 16px;
  
}

.quiz-secao {
  background-color: #a07e4e;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

.jogar {
  display: inline-block;
  background-color: #554526;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.jogar:hover {
  background-color: #6f4f28;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.jogar:active {
  background-color: #4b3a1b;
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
